<div
  class="tab-pane fade show active"
  id="detail-history"
  role="tabpanel"
  aria-labelledby="profile-tab"
>
  <div class="card shadow mb-4">
    <div class="card-body">
      <form action="/admin/history" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <label for="name">Jumlah Client</label>
          <input
            type="number"
            class="form-control"
            name="jmlClient"
            placeholder="Masukkan jumlah client yang pernah bekerjasama"
            value="<%= history.jmlClient %>"
            readonly
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Jumlah Project</label>
          <input
            type="number"
            class="form-control"
            name="jmlProject"
            placeholder="Masukkan jumlah project yang pernah dikerjakan"
            value="<%= history.jmlProject %>"
            readonly
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Jumlah Produk Jadi</label>
          <input
            type="number"
            class="form-control"
            name="jmlProdukJadi"
            placeholder="Masukkan jumlah produk jadi yang pernah diproduksi"
            value="<%= history.jmlProdukJadi %>"
            readonly
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Nama Pimpinan</label>
          <input
            type="text"
            class="form-control"
            name="namaLeader"
            placeholder="Masukkan nama pimpinan dipisahkan dengan koma. Contoh: john doe, jenn dee"
            value="<%= history.namaLeader%>"
            readonly
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Jabatan Pimpinan</label>
          <input
            type="text"
            class="form-control"
            name="jabatanLeader"
            placeholder="Masukkan jabatan pimpinan dipisahkan dengan koma. Contoh: manager, direktur"
            value="<%= history.jabatanLeader %>"
            readonly
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Foto Pimpinan</label>
          <br />
          <% for( let i = 0; i < history.gambarId.length; i++ ) { %>
          <img
            src="http://localhost:3000/<%= history.gambarId[i].imageUrl %> "
            alt="imageUrl"
            height="200px"
            style="object-fit: contain"
          />
          <% } %>
        </div>
        <a href="/admin/history" class="btn btn-warning">Back</a>
      </form>
    </div>
  </div>
</div>
