<div
  class="tab-pane fade show active"
  id="show-clients"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Nama Client</th>
              <th>Logo</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for(let i = 0; i < clients.length; i++) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= clients[i].nama %></td>
              <td>
                <img
                  src="https://weba-admin.herokuapp.com/<%= clients[i].imageUrl %> "
                  alt="imageUrl"
                  height="70px"
                  width="70px"
                />
              </td>
              <td>
                <form
                  action="/admin/clients/<%= clients[i].id %>/delete?_method=DELETE"
                  method="POST"
                >
                  <a
                    href="/admin/clients/detail-client/<%= clients[i].id %>"
                    class="btn btn-success btn-sm"
                    ><i class="fas fa-eye"></i
                  ></a>
                  <a
                    href="/admin/clients/update-client/<%= clients[i].id %>"
                    class="btn btn-warning btn-sm"
                    ><i class="fas fa-edit"></i
                  ></a>
                  <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
