<div
  class="tab-pane fade show active"
  id="show-news"
  role="tabpanel"
  aria-labelledby="home-tab"
>
  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table
          class="table table-bordered"
          id="dataTable"
          width="100%"
          cellspacing="0"
        >
          <thead>
            <tr>
              <th>No</th>
              <th>Jenis</th>
              <th>Judul</th>
              <th>Deskripsi</th>
              <th>Penulis</th>
              <th>Tanggal</th>
              <th>Isi</th>
              <th>Gambar</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <% for( let i = 0; i < news.length; i++ ) { %>
            <tr>
              <td><%= i + 1 %></td>
              <td>
                <div style="max-height: 200px; overflow: hidden">
                  <%= news[i].jenis %>
                </div>
              </td>
              <td>
                <div style="max-height: 200px; overflow: hidden; width: 200px">
                  <%= news[i].judul %>
                </div>
              </td>
              <td>
                <div style="max-height: 200px; overflow: hidden; width: 200px">
                  <%= news[i].deskripsi %>
                </div>
              </td>
              <td>
                <div style="max-height: 200px; overflow: hidden">
                  <%= news[i].penulis %>
                </div>
              </td>
              <td>
                <div style="max-height: 200px; overflow: hidden; width: 200px">
                  <%= news[i].tanggal.toLocaleString().split(',')[0] %>
                </div>
              </td>
              <td>
                <div style="max-height: 200px; overflow: hidden; width: 200px">
                  <%= news[i].isi %>
                </div>
              </td>
              <td>
                <img
                  src="https://weba-admin.herokuapp.com/<%= news[i].imageUrl %> "
                  alt="imageUrl"
                  height="200px"
                  style="object-fit: contain"
                />
              </td>
              <td>
                <form
                  action="/admin/news/<%= news[i].id %>/delete?_method=DELETE"
                  method="POST"
                >
                  <a
                    href="/admin/news/detail-news/<%= news[i].id %>"
                    class="btn btn-success btn-sm"
                    ><i class="fas fa-eye"></i
                  ></a>
                  <a
                    href="/admin/news/update-news/<%= news[i].id %>"
                    class="btn btn-warning btn-sm"
                    ><i class="fas fa-edit"></i
                  ></a>
                  <button type="submit" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                  </button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
