<div
  class="tab-pane fade show active"
  id="update-news"
  role="tabpanel"
  aria-labelledby="profile-tab"
>
  <div class="card shadow mb-4">
    <div class="card-body">
      <form
        action="/admin/news/update-news/<%= news.id %>?_method=PUT"
        method="POST"
        enctype="multipart/form-data"
      >
        <div class="form-group">
          <label for="name">Jenis</label>
          <select class="form-control" name="jenis" required>
            <option value="">--- <%= news.jenis %> ---</option>
            <option value="Latest News">Latest News</option>
            <option value="Popular News">Popular News</option>
          </select>
        </div>
        <div class="form-group">
          <label for="name">Judul</label>
          <input
            type="text"
            class="form-control"
            name="judul"
            placeholder="Masukkan judul berita"
            value="<%= news.judul %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Deskripsi</label>
          <input
            type="text"
            class="form-control"
            name="deskripsi"
            placeholder="Masukkan deskripsi berita"
            value="<%= news.deskripsi %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Penulis</label>
          <input
            type="text"
            class="form-control"
            name="penulis"
            placeholder="Masukkan penulis berita"
            value="<%= news.penulis %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="name">Tanggal Rilis</label>
          <input
            type="date"
            class="form-control"
            name="tanggal"
            placeholder="Masukkan tanggal rilis berita"
            value="<%= news.tanggal.toLocaleString('en-GB').split(',')[0] %>"
            required
          />
          <p class="text-danger">
            Tanggal Rilis Lama: <%=
            news.tanggal.toLocaleString('en-GB').split(',')[0] %>
          </p>
        </div>
        <div class="form-group">
          <label for="name">Isi</label>
          <textarea
            name="isi"
            class="form-control"
            placeholder="Masukkan isi berita"
            required
          >
<%= news.isi %></textarea
          >
        </div>
        <div class="form-group">
          <div class="form-group">
            <label for="name">Gambar</label>
            <input type="file" class="form-control" name="image" />
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
        <a href="/admin/news" class="btn btn-warning">Cancel</a>
      </form>
    </div>
  </div>
</div>
